

.url-list {
    display: flex;
    flex-direction: column;
    height: 200px;
    overflow-y: auto;
    width: 100%;

    div.url-item:first-child {
        border-top: 1px solid rgb(110, 110, 110);
    }

    div.url-item {
        position: relative;
        padding-top: 7px;
        padding-bottom: 7px;

        display: flex;
        flex-direction: row;
        align-items: center;

        border-bottom: 1px solid rgb(110, 110, 110);

        width: 100%;

        div.name {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            flex: 1;
        }

        div.downloading {
            padding-left: 20px;
            text-align: right;
            padding-right: 10px;
            color: rgb(150, 150, 150);
        }

        div.menu {
            width: 100px;
            
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            button {
                padding: 10px;

                img {
                    height: 20px;
                }

                transition: all 0.2s ease;
                cursor: pointer;
            }

            /*  비활성화된 버튼  */
            button[data-disabled="true"] {
                pointer-events: none;
                filter: grayscale(1);
            }

            button:hover {
                border-radius: 100%;
                background: rgba(255, 255, 255, 0.1);
            }

            button:active {
                border-radius: 100%;
                background: rgba(255, 255, 255, 0.5);
            }
        }
    }
}