* {
    box-sizing: border-box;
    font-family: pretendard;
    font-size: 17px;
}

body {  
    margin: 0;
    background: #353535;
    color: white;
}

/*  버튼 공통  */
button {
    background: transparent;
    border: 0;
    outline: none;
    transition: all 0.2s ease;
    cursor: pointer;
}

/*  텍스트 버튼  */
button:not(:has(img)) {
    color: rgb(230,230,230);
    transition: none;
    padding: 5px;
}

button:not(:has(img)):hover {
    background: rgb(230,230,230);
    color: #353535;
}

button:not(:has(img)):active {
    background: rgb(250,250,250);
    color: #353535;
}

/*  아이콘 버튼  */
button:has(img) {

    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: 20px;
    }
}

button:has(img):hover {
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.1);
}

button:has(img):active {
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.5);
}

/*  스크롤바  */
::-webkit-scrollbar {
    width: 8px;

}

::-webkit-scrollbar-thumb {
    background: rgba(110,110,110,0.2);
    border: 1px solid gray;
    border-radius: 100px;
}

input[type="text"] {
    border: 0;
    outline: none;

    background: transparent;
    border-bottom: 1px solid rgba(110,110,110);
    font-size: 16px;
    padding: 5px;
    color: white;
    width: 100%;
}